{% extends 'Planning/base.html' %}
{% load static %}
{% block title%}Webeeconf{% endblock %}

{% block body %} 

<div class="container">
    <div class="row"> 
        <hr>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body" data-mdb-perfect-scrollbar="true"
                    style="padding-right:0; padding-left:0; height:695px; overflow-y: scroll;">

                    <div class="list-group planning-area">
                        <!-- planning area by ajax -->


                        {% for intervenant in intervenants %}

                        <li id="{{ intervenant.id }}"
                            class="list-group-item personne align-items-start list-group-item-action">
                            <!-- onclick="select_prest(0,${ pres.session_id }, ${ pres.id } ) -->
                            <div class="d-flex w-100 justify-content-between">
                                <img src="{{ intervenant.logo.url }}"
                                    style="width: 75px;height: 75px;border-radius: 30rem;">
                                <h5 class="mb-1" style="align-self: center;"> {{ intervenant }} </h5>
                                <!--<span class=" float-end"> <small> ${ pres.duration } min &nbsp;&nbsp; </small>
                                    <a href="#"
                                        onclick="editPres( '${ pres.id }','${ pres.title }','${ pres.duration }','${ pres.author_id }')"
                                        class=" bi-pencil-fill text-secondary"></a>
                                </span>-->
                            </div>

                        </li>

                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <br>
            <div id="form_sess">
              {# {{ sess_form|crispy }} #}
              <hr>
              <button class="btn btn-info" id="sess_submit">Valider Session</button>
            </div>
            <div id="form_pres" display='none'>
              {# {{ pres_form|crispy }} #}
      
              <button type="button" id="add_field" class="btn btn-secondary">Intervenant supplémentaire</button>
              <hr>
              <button class="btn btn-primary" id="pres_submit">Valider Présentation</button>
            </div>
          </div>

        
    </div>
</div>


<script type="text/javascript" defer>
    let csrf_token = $("#js_data").attr("data-csrf");
    var liste_personnes = document.querySelectorAll('.personne')

    console.log(liste_personnes[0])
    for (var i = 0; i < liste_personnes.length; i++) {
        liste_personnes[i].addEventListener("click", function () {
            console.log(this.id)

            fetch("{% url 'planning:upload_intervenant' %}", {
                    method: "POST",
                    credentials: 'same-origin',
                    headers: {
                        "X-CSRFToken": csrf_token,
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        id: this.id,
                    }),
                }).then(response => response.json())
                .then(data => {
                    // on vide le contenu hmtl pour éviter les doublons
                    document.getElementById("presta_container").innerHTML = "";
                    // console.log(data.presentations);
                    data.presentations.forEach(presta => {
                        // console.log(presta)
                        construct_presta(presta)
                    });
                    // for (i = 0; i <= data.presentations.length; i++){
                    //     //APPELER LA FONCTION POUR CONSTRUIRE LES PRESTAs
                    //     construct_presta()
                    // }
                })
                .catch(error => console.error(error));

        })
    }
    


</script>

{% endblock %}