{% extends 'Planning/base.html' %}
{% load static %}
{% block title%}vod{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <hr>

        <!-- Pour choisir les dates -->
        {% for day in schedule %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radio_dates" id="radio_dates" value={{day.day}} onclick="setDate('{{day.day}}')">
                <label class="form-check-label" for="inlineRadio1">{{day.day}}</label>
            </div>
        {% endfor %}

        
    </div>
</div>

{% endblock %}